@using UnknownStore.IdentityServer.Common.IdentityModels
@using UnknownStore.IdentityServer.Controllers
@model UnknownStore.IdentityServer.Common.IdentityModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="login">

    @*<div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>*@

    <div id="login-form-container">
        <div id="login-form-header">
            <h1>Login</h1>
            <h2>Choose how to login</h2>
        </div>
        <div id="login-form-body">
            <form asp-controller="Auth" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                @foreach (var provider in Model.ExternalProviders)
                {
                    <button type="submit"
                            name="provider"
                            value="@provider.Name">
                        @provider.DisplayName
                    </button>
                }
            </form>
            <form asp-route="Login">
                <input type="hidden" asp-for="ReturnUrl"/>

                <div class="form-floating">
                    <input class="form-control" placeholder="Username" asp-for="Email" id="username-input">
                    <label for="username-input">Username</label>
                </div>
                <div class="error-message">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" id="password-input" autocomplete="off">
                    <label for="password-input">Password</label>
                </div>
                <div class="error-message">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-floating">
                    <input type="checkbox" class="form-check" placeholder="isRemember" asp-for="IsRemember" id="isRemember-input">
                    <label for="isRemember-input">isRemember</label>
                </div>
                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <div id="login-form-footer">
                    <button type="submit" class="btn btn-primary" name="button" value="login">Login</button>
                    <a href="@Url.Action("Register", "Auth", new { returnUrl = Model.ReturnUrl })">
                        <label>Create new account</label>
                    </a>
                </div>
            </form>
        </div>

    </div>
</div>

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}