@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="success-registrated">
        <h1>Successful registration</h1>
        <h2>Check your email</h2>
        <h2>We have sent an email for confirmation</h2>
    </div>
</div>