header {
    position: relative;
    width: var(--width-header);
    height: var(--height-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    background-color: var(--background-page);
   /* background: rgb(116,185,255);
    background: radial-gradient(circle, rgba(116,185,255,1) 0%, rgba(9,132,227,1) 100%);*/
}

header span{
    padding: var(--padding-header-nav-bar);
}

