
.models-page {
    margin: 0;
    max-width: var(--width-page);
    max-height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.model-view-box {
    background-color: white;
    margin: 1rem 1rem;
    width: 260px;
    height: 310px;
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
}

.model-view-box:hover {
    outline: var(--border-blue);
    cursor: pointer;
}

.model-view-box-info {
    border-top: var(--border-blue);
}

.model-view-image {
    background-color: var(--background);

    display: flex;
    justify-content: center;
    align-items: center;
}

.model-view-image img {
    width: 260px;
    height: 260px;

    object-fit: contain;
}

.model-view-image:hover {
    transition: filter 0.2s ease-out;
    filter: brightness(70%);
}

.model-view-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.model-view-box-header h2 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: large;
}

.model-view-box-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.model-view-box-footer {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.model-view-box-price {
    font-weight: bold;
    font-size: x-large;
}

.model-view-box-hidden {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: -8.5vh;
    min-width: 100%;
    min-height: 15vh;
    background-color: rgba(255, 255, 255, 0.76);
    z-index: 1;
}

.model-view-box-hidden .model-view-box-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.model-view-box-hidden h2 {
    font-size: large;
}

.model-view-box-hidden .model-view-box-price {
    min-width: 5rem;
}




