
.models-page {
    margin: 0;
    max-width: var(--width-page);
    max-height: 100%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: start;
    font-family: var(--font-navbar);
    

}

.model-view-box {
    background-color: white;
    margin: 1rem 1rem 0rem 1rem;
    width: 480px;
    height: 527px;
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
}

.model-view-box:hover {
    outline: var(--border-blue);
    cursor: pointer;
}

.model-view-box-info {
   
}

.model-view-image {
    background-color: var(--color-1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.model-view-image img {
    width: 480px;
    height: 480px;

    object-fit: contain;
}


.model-view-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 0rem 1rem;
}

.model-view-box-header h2 {
    padding: 0;
    margin: 0;
    font-weight: bold;

    font-size: large;
}

.model-view-box-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.model-view-box-footer {
    margin-top: 0.87rem;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.model-view-box-footer button{
    height: 40px;

}

.model-view-box-price {
    font-weight: bold;
    font-size: x-large;
    text-align: end;
    justify-self: end;
}

.model-view-box-hidden {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: -10.4vh;
    min-width: 100%;
    min-height: 15vh;
    background-color: rgba(255, 255, 255, 0.90);
    z-index: 1;
}

.model-view-box-hidden .model-view-box-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.model-view-box-hidden h2 {
    font-size: large;
}

.model-view-box-hidden .model-view-box-price {
    min-width: 5rem;
}




