.nav-bar {
    position: relative;
    background-color: var(--color-1);
    height: var(--height-nav-bar);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;



    -webkit-box-shadow: 0px 10px 10px -9px rgba(34, 60, 80, 0.33);
    -moz-box-shadow: 0px 10px 10px -9px rgba(34, 60, 80, 0.33);
    box-shadow: 0px 10px 10px -9px rgba(34, 60, 80, 0.33);

}

.user-panel span .link:hover{
    transition: none !important;
}

.nav-filter {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.nav-filter .link {

    padding-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 3px solid var(--color-1);


    width: 7vw;
    height: 100%;
}


.nav-filters {
    width: 60vw;
    margin-right: 15vw;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}



.nav-filter .link, .nav-filter .link:hover {
    color: unset;

}

.nav-filter .link:hover {
    border-bottom: 3px solid var(--color-text);
    opacity: 1 !important;
}

.user-panel {
    position: relative;
    min-width: 25vw;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
}

div.user-panel > div{
    padding-right: 2rem;
}

.user-panel span {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 3rem;
    height: 100%;
}


.nav-list {
    left: 0;
    z-index: 0;
    position: fixed;
    margin-top: 65vh;

    width: 100vw;
    height: 60vh;
    background: white;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    border-top: 3px solid var(--color-1);

    /*box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);*/
    -webkit-box-shadow: 0px 25px 45px -27px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 25px 45px -27px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 25px 45px -27px rgba(34, 60, 80, 0.3);
}

.nav-list-short {
    margin-top: 65vh;
    left:0;
    width: 100vw !important;
    height: 60vh !important;
}

.nav-list-half-short {
    left:0;
    width: 30vw !important;
    height: 60vh !important;
}

.nav-list-half {
    width: 50%;
    height: 45vh;
    display: flex;
    align-items: start;
    align-content: start;
    justify-content: start;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem 1rem;
}

.nav-list-half-header {
    width: 100%;
    font-size: 1.5rem;
}

.nav-list-half-header span {
    color: var(--color-text);
    font-weight: bold;
}

.nav-list-half-body {
    width: 100%;
    height: 90%;
    max-height: 90%;
    display: flex;
}

.category-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.category-list a {
    text-align: left;
}

.category-list a.link {
    height: 2rem;
    width: unset;
    border: none;
}

.category-list a.link:hover {
    border: none;
}

.category-link {
    padding: 1.3rem 0.5rem 1rem 0;
    color: var(--color-2)!important;
}

.sub-category-link {
    color: var(--color-2)!important;
    font-weight: normal !important;
    padding-left: 0;
    margin-top: -0.35rem;
}



