header {
    position: relative;
    font-family: var(--font-navbar);
    width: var(--width-header);
    height: var(--height-header);
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--color-1);
    color: var(--color-text);
    font-weight: normal;
    /* background: rgb(116,185,255);
     background: radial-gradient(circle, rgba(116,185,255,1) 0%, rgba(9,132,227,1) 100%);*/
}

header > span:nth-child(2) > button{
    font-size: 0.8rem;
    text-transform: uppercase;
}

header span {
    padding: var(--padding-header-nav-bar);
}

header span button.link {
    color: var(--color-text);
}

header span a:hover {
    transition: opacity 0.2s ease-out;
    opacity: 0.8;
    background-color: unset;
    cursor: pointer;
}

header span button.link:hover {
    transition: opacity 0.2s ease-out;
    opacity: 0.8;
    background-color: unset;
    cursor: pointer;
}

header > span:nth-child(2) > button{

}

