header {
    font-weight: normal;
    position: relative;
    width: var(--width-header);
    height: var(--height-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-1);
    color: white;
    /* background: rgb(116,185,255);
     background: radial-gradient(circle, rgba(116,185,255,1) 0%, rgba(9,132,227,1) 100%);*/
}

header span {
    padding: var(--padding-header-nav-bar);
}

header span button.link {
    color: white;
}

header span a:hover {
    transition: color 0.2s ease-out;
    color: rgba(255, 255, 255, 0.78);
    background-color: unset;
    cursor: pointer;
}

header span button.link:hover {
    transition: color 0.2s ease-out;
    color: rgba(255, 255, 255, 0.78);
    background-color: unset;
    cursor: pointer;
}

