@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;600&display=swap');


:root {
    /*COLORS*/
    --color-text: #424242;
    --color-placeholder: #858585;
    --color-1: #0984e3;
    --color-2: #74b9ff;
    --color-2-light: rgba(116, 185, 255, 0.8);
    --color-3: white;
    --color-error: #e74c3c;
    --background: #dadade;
    --background-page: white;
    --background-dark: rgb(66, 66, 66);
    /*CONSTANT SIZES*/

    --width-header: 100vw;
    --height-header: 4vh;

    --width-nav-bar: 100vw;
    --height-nav-bar: 5vh;

    --height-page: 91vh;
    --width-page: 80vw;

    --width-overlay-background: 46.510vw;
    --width-overlay: 10vw;
    --height-overlay: 10vh;


    /*BORDER*/
    --border-blue: 2px solid var(--color-1);
    /*PADDINGS*/
    --padding-header-nav-bar: 0 1rem 0 1rem;
    --padding-page: 2vh 3vw 2vh 3vw;
    --padding-overlay: 3vh 3vw;
    --margin-page: 0 10vw 0 10vw;
    --margin-page-aside: 10vw;


    /*CONSTANT SHADOW*/
    --shadow: 0 2px 6px rgba(0, 0, 0, .2);
    --shadow-blue: 0px 5px 36px 19px rgba(9, 132, 227, 0.2);


    /*FONT*/
    --font-main: 'Radio Canada', sans-serif;
}

::-ms-reveal {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-text);
    font-family: var(--font-main);
    font-weight: lighter;

    background-color: var(--background);

    scroll-behavior: smooth;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

.link {
    box-shadow: none;
    border: none;
    background-color: unset;
    height: unset;

    color: var(--color-1);
    text-decoration: none;
    font-weight: unset;
}

.link:hover {
    transition: color 0.2s ease-out;
    color: var(--color-2);
    background-color: unset;
    cursor: pointer;
}

button /*, input[type="file"]::file-selector-button*/
{
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    background-color: var(--color-1);
    border: none;
    border-radius: unset;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

    color: white;
    cursor: pointer;
    font-weight: normal;

    height: 40px;
    padding: unset;
    min-width: 10vw;
}

/*input[type="file"]::file-selector-button{
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    min-width: 5vw;
}*/

button:hover /*, input[type="file"]::file-selector-button:hover*/
{
    background-color: var(--color-2);
    transition: background-color 0.2s ease-out;
}

button:disabled /*, input[type="file"]::file-selector-button:disabled*/
{
    background-color: var(--color-placeholder);
    cursor: default;
}


.form-control {
    width: 15vw;
    padding-bottom: 0;
    padding-top: 0;
    border: none;
    /*border-bottom: var(--color-placeholder) 1px solid;*/
    border-radius: unset;
    color: var(--color-text);
    font-weight: lighter;
    height: 2.5rem;
}

.form-control input {
    color: var(--color-placeholder);
    padding: 0;
}

.form-control:focus {
    border-bottom: var(--color-1) 2px solid;
    box-shadow: unset;
    color: var(--color-1);
}

.form-control:focus::placeholder {
    color: var(--color-1);
}

.text-blue {
    color: var(--color-1);
}

.input-error-container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

form.container{
    padding: 0;
}


.page-container {
    min-height: var(--height-page);
    max-width: var(--width-page);
    margin: var(--margin-page);
    padding: var(--padding-page);
    background-color: var(--background-page);

    box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
}


