@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Audiowide&family=Bebas+Neue&family=Belleza&family=Bodoni+Moda&family=Mate+SC&family=Oleo+Script:wght@700&display=swap');
:root {
    /*COLORS*/
    --color-text: #404040; /*#424242*/
    --color-placeholder: #A6A6A6;
    --color-1: white;
    --color-2: #595959;
    --color-2-light: rgba(116, 185, 255, 0.8);
    --color-2-megalight: rgba(116, 185, 255, 0.3);
    --color-3: #f8f8f8;
    --color-error: #e74c3c;
    --background: #ecf0f1;
    --background-page: #F2F2F2;
    --background-dark: rgb(66, 66, 66);
    --background-main: #F2F2F2;
    /*CONSTANT SIZES*/

    --width-header: 100vw;
    --height-header: 4vh;

    --width-nav-bar: 100vw;
    --height-nav-bar: 5vh;

    --height-page: 91vh;
    --width-page: 80vw;

    --width-overlay-background: 46.510vw;
    --width-overlay: 10vw;
    --height-overlay: 10vh;


    /*BORDER*/
    --border-blue: 2px solid var(--color-1);
    /*PADDINGS*/
    --padding-header-nav-bar: 0 1rem 0 1rem;
    --padding-page: 2vh 0vw 2vh 0vw;
    --padding-overlay: 3vh 3vw;
    --margin-page: 9vh 15vw 0 15vw;
    --margin-page-half: 9vh 0 0 0;
    --margin-page-aside: 10vw;


    /*CONSTANT SHADOW*/
    --shadow: 0px 5px 14px 4px rgba(34, 60, 80, 0.2);
    --shadow-blue: 0px 5px 36px 19px rgba(9, 132, 227, 0.2);


    /*FONT*/
    --font-main: 'Radio Canada', sans-serif;
    --font-navbar:'Helvetica Neue', sans-serif;
    --font-second: 'Belleza', sans-serif;
    --font-logo: 'Oleo Script', cursive;
}

::-ms-reveal {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--color-1);
}

::-webkit-scrollbar-thumb {
    background: var(--color-text);
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-text);
    font-family: var(--font-navbar);
    font-weight: normal;
    font-size: large;

    background-color: var(--color-1);

    scroll-behavior: smooth;

    overflow-x: hidden;

}

.main-background {
    width: 100%;
    height: 100%;
    background-color: var(--background-main);
}

.fake-link {
    text-decoration: none;
    color: unset;
}

.fake-link:hover {
    text-decoration: none;
    color: unset;
    transition: opacity 0.2s ease-out;
    opacity: 0.55;
}

.link {
    box-shadow: none;
    border: none;
    background-color: unset;
    height: unset;

    color: var(--color-text);
    text-decoration: none;
    font-weight: unset;
}

.link:hover {
    transition: opacity 0.2s ease-out;
    opacity: 0.55;
    background-color: unset;
    cursor: pointer;
}

button /*, input[type="file"]::file-selector-button*/
{
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    background-color: var(--color-text);
    border: none;
    border-radius: unset;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

    color: white;
    cursor: pointer;
    font-weight: normal;

    height: 40px;
    padding: unset;
    width: 5rem;
}

/*input[type="file"]::file-selector-button{
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
    min-width: 5vw;
}*/

button:hover /*, input[type="file"]::file-selector-button:hover*/
{
    background-color: var(--color-2);
    transition: background-color 0.2s ease-out;
}

button:disabled /*, input[type="file"]::file-selector-button:disabled*/
{
    background-color: var(--color-placeholder);
    cursor: default;
}


.form-control {
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0.5rem;
    border: none;
    border-bottom: var(--color-1) 2px solid;
    border-radius: unset;
    color: var(--color-text);
    height: 2.5rem;
    background: unset;
}


input.form-control {
    color: var(--color-text);
    margin: 0;
    height: 100%;
}

.form-control:focus {
    background: unset;
    border-bottom: var(--color-text) 2px solid;
    box-shadow: unset;
    color: var(--color-text);
}

.form-control:focus::placeholder {
    color: var(--color-placeholder);
}

.text-blue {
    color: var(--color-text);
}

.btn-lighter {
    background-color: var(--color-placeholder);
    color: var(--color-text)
}

.input-error-container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

form.container {
    padding: 0;
}


.app-head {
    position: fixed;
    z-index: 2;
    top: 0;
}

.page-container {
    min-height: var(--height-page);
    max-width: 100vw;
    /*margin: var(--margin-page);
    padding: var(--padding-page);*/
    margin: var(--margin-page-half);
    background-color: var(--background-main);

    display: flex;
    flex-wrap: wrap;

    box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    -webkit-box-shadow: var(--shadow);
}


@media screen and (max-width: 900px) {
    .page-container {
        max-width: 100%;
        padding: 0;
        margin: var(--margin-page-half);
    }

    .nav-list {
        width: 80vw;
    }
}


.size-container {
    padding-top: 3rem;
}

.home-page {
    width: 100vw;
    min-height: var(--height-page);
    object-fit: cover;
}

.home-page-text {
    color: white;
    user-select: none;
    position: absolute;
    bottom: 2rem;
}

.home-page-text h1 {
    font-weight: bolder;
    font-size: 13rem;
}

.home-page-text h1 {
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 11.5rem;
    position: absolute;
    top: -13rem;
    letter-spacing: 1rem;
    left: 0;
}

.home-page-text h2 {
    text-transform: uppercase;
    width: 100vw;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
    position: absolute;
    bottom: -2rem;
}

.white {
    color: white;
}


.favorite-page {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    background: white;
    margin-left: 10vw;
}

span#logo {
    /*font-family: var(--font-logo);*/
    text-transform: uppercase ;
    font-weight: bolder;
    font-size: 2rem;
    position: fixed;
    z-index: 3;
    top:1.3rem;
    left: 2rem;
    width:30%
}

.home-page{
    font-family: var(--font-second);
}